.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form-container {
  border: solid 1px white;
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  padding: 1em;
}

.form-header-container {
}

.form-body-container {
  display: flex;
  flex-direction: column;
}

.popupwindow-container {
  background-color: rgba(0, 255, 0, 0.5);
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.popupwindow {
  background-color: rgba(0, 0, 0, 0.95);
  padding: 2em;
  word-break: break-all;
  box-sizing: border-box;
}

.errorwindow-container {
  background-color: rgba(255, 0, 0, 0.5);
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.errorwindow {
  background-color: rgba(0, 0, 0, 0.95);
  padding: 2em;
  word-break: break-all;
  box-sizing: border-box;
}
