.App {
  text-align: center;
  /*background-color: #282c34;*/
  /*color: white;*/
  color: #545454;
  background: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
}

.form-container {
  border: solid 1px #d9d9d9;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  padding: 1em;
}

.form-header-container {
}
.form-header-container > h2 {
  margin-top: 0;
}

.form-body-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-input {
  background-color: white;
  color: #333333;
  border-color: #d9d9d9;
  border: 1px #d9d9d9 solid;
  background-clip: padding-box;
  border-radius: 5px;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0.9285714286em 0.7857142857em;
  border: none;
  word-break: normal;
  line-height: inherit;
}

.form-input-container {
  position: relative;
  width: 100%;
  height: 50px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 5px;
}

.form-label {
  position: absolute;
  top: -10px;
  left: 10px;
  font-size: 12px;
  color: gray;
  background: white;
  padding-left: 5px;
  padding-right: 5px;
}

.form-submit-button {
  cursor: pointer;
  display: inline-block;
  background-color: #1878b9;
  background-clip: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px transparent solid;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  padding: 1.4em 1.7em;
  text-align: center;
  position: relative;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    -webkit-box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    -webkit-box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.popupwindow-container {
  background-color: rgba(0, 255, 0, 0.5);
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.popupwindow {
  background-color: rgba(0, 0, 0, 0.95);
  padding: 2em;
  word-break: break-all;
  box-sizing: border-box;
}

.errorwindow-container {
  background-color: rgba(255, 0, 0, 0.5);
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.errorwindow {
  background-color: rgba(0, 0, 0, 0.95);
  padding: 2em;
  word-break: break-all;
  box-sizing: border-box;
}

.paystand-iframe {
  width: 100%;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}
